<!-- お知らせを表示するページ(一般と役員用) -->
<!-- CSSの設定 -->
<link rel="stylesheet" href="css/normal_and_officer_information.css">

<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button> 戻る </ons-back-button>
        </div>
        <div class="center">町内会からのお知らせ</div>
    </ons-toolbar>
    <div>
        <ons-scroller>
          <ons-list ng-controller="InfoCtrl">
            <ons-list-item ng-repeat="object in objects" modifier="tappable" ng-click="ShowInfoDetail($index, 'notAdmin')">

            <ons-row>
            <ons-col width="30%" style="margin:2% 2% 0% 4%;">
            <span ng-class="set_department($index)">
            {{object.department_name}}</span>
            </ons-col>

            <ons-col>
            <p class="item-desc-info">
            <span class="break_point_infotitle"> {{object.title}} <br></span>
            <span class="break_point_infotime"> {{object.date}} <br></span>
            </p>
            </ons-col>


            </ons-row>
            </ons-list-item>
          </ons-list>
        </ons-scroller>
    </div>
</ons-page>
