<!-- 一般用のタブバー -->
<ons-page>
    <ons-tabbar var="officertabbar">
        <ons-tab page="views/officer/officer_event_list.html"
        icon="ion-ios-calendar-outline"
        label="イベント"
        ></ons-tab>
        <ons-tab
        icon="ion-ios-chatboxes-outline"
        label="お知らせ"
        page="views/officer/officer_information.html"
        active="true"
        ></ons-tab>
        <ons-tab
        icon="gear"
        label="設定"
        page="views/officer/officer_config.html"
        ></ons-tab>
    </ons-tabbar>
</ons-page>
