<!-- CSSの設定 -->
<link rel="stylesheet" href="css/config.css">

<ons-page>
  <ons-toolbar>
    <div class="center">設定</div>
  </ons-toolbar>

  <ons-list>
    <ons-list-item modifier="tappable" onclick="viewManual('admin')">
      <div class="break_point_config">
        ヘルプ
      </div>
      <ons-row>
        <div class="break_point_config2">
          じぷりの取り扱い説明書が見れます。
        </div>
      </ons-row>
    </ons-list-item>

     <ons-list-item modifier="tappable">
      <div class="reset" onclick="clearStorage();">
        <div class="break_point_config">
          入力情報のリセット
        </div>
        <ons-row>
         <div class="break_point_config2">
            参加申し込みで入力した情報の<br>履歴が削除されます。
         </div>
        </ons-row>
      </div>
    </ons-list-item>
    <ons-list-item>
      <div class="break_point_config">
          陣川あさひ町会
        </div>
        <ons-row>
         <div class="break_point_config2">
            住所：北海道函館市陣川町79−55<br>
            電話番号：<a href="tel:0138318855">0138-31-8855</a><br>
            ホームページ：<span class="break_point_config_url" onclick="open_jinkawaHP();">http://www.jinkawaasahi.com/</span>
         </div>
        </ons-row>
    </ons-list-item>
  </ons-list>
</ons-page>
