<!-- イベント詳細　管理者 -->
<!-- CSSの設定 -->
<link rel="stylesheet" href="css/normal_and_officer_event.css">

<!-- ツールバー -->
<ons-page ng-controller="DetailCtrl" id="DetailCtrl">
<ons-toolbar>
    <div class="center">{{object.event_name}}</div>
    <div class="left">
      <ons-back-button> </ons-back-button>
    </div>
    <div class="right">
        <ons-toolbar-button onclick="ShowEventMenu()"><ons-icon icon="ion-navicon" size="25px"></ons-icon></ons-toolbar-button>
    </div>


</ons-toolbar>
<body>
        <div>
            <p class="update_date_detail">最終更新日：{{object.update_date}}</p>
            <div style="text-align: center;">
                <img src='{{view_pic($index)}}'width=40%>
            </div>
        <br>
            <ons-row>
                <ons-col width="40%"> <span class="event_com"><span class="eve_bun">担当部名</span></span></ons-col>
                <ons-col> <span class="eve_bun" ng-class="set_department()">{{object.event_department_name}}</span></ons-col>
            </ons-row>

            <HR>
            <ons-row>
                <ons-col width="40%"> <span class="event_com"><span class="eve_bun">日程</span></span> </ons-col>
                <ons-col> <span class="eve_bun">{{object.day}} {{object.start_time}}~{{object.end_time}}</span> </ons-col>
            </ons-row>

            <HR>
            <ons-row>
                <ons-col width="40%"> <span class="event_com"><span class="eve_bun">場所</span></span> </ons-col>
                <ons-col> <span class="eve_bun">{{object.location}}</span></ons-col>
            </ons-row>
            <HR>
            <ons-row>
                <ons-col width="40%"> <span class="event_com"><span class="eve_bun">定員</span></span> </ons-col>
            </ons-row>
            <HR>
            <ons-row>
                <ons-col width="40%"> <span class="event_com"><span class="eve_bun">詳細</span></span> </ons-col>
                <ons-col><span class="eve_bun">{{object.description}}</span>
                </ons-col>
            </ons-row>
            <HR>
            <ons-row>
                <ons-col width="40%"> <span class="event_com"><span class="eve_bun">公開状態</span></span> </ons-col>
                <ons-col><span class="eve_bun"><div id="d_officer_only"></span></div></ons-col>
            </ons-row>
            <HR>
            <ons-row>
                <ons-col width="40%"> <span class="event_com"><span class="eve_bun">申込締切日</span></span> </ons-col>
                <ons-col><span class="eve_bun">{{object.deadline_day}} {{object.deadline_time}}</span></div>
                </ons-col>
            </ons-row>
            <HR>
            <ons-row>
                <ons-col width="40%"> <span class="event_com"><span class="eve_bun">作成日</span></span> </ons-col>
                <ons-col><span class="eve_bun">{{object.create_date}}</span>
                </ons-col>
            </ons-row>
            <br>
        <div>
          <ons-button ng-click="GoToJoinform()" modifier="sanapp">参加を申し込む</ons-button><br>
            <!-- EventUpdate()もEventDelete()もevent_edit.jsにある関数です -->
        </div>
    </div>
    </body>
</ons-page>
