<!-- 参加者リストを表示するページ -->

<ons-page>
    <ons-toolbar>
    <div class="center">参加者リスト</div>
    <div class="left">
      <ons-back-button> 戻る </ons-back-button>
    </div>

    <div class="right">
        <ons-toolbar-button onclick="ShowParticipantsMenu()">
        <ons-icon icon="bars"></ons-icon></ons-toolbar-button>
    </div>
    </ons-toolbar>

    <div>
        <ons-scroller>
          <ons-list ng-controller="ParticipantsCtrl">
            <ons-list-item ng-repeat="item in items">

<ons-row>
            <ons-col>
            <div class="lefts">
            <ons-button ng-click="DeleteParticipants($index)" modifier="quiet">
            <ons-icon icon="ion-close-round" size="15px"></ons-icon>
           <!--<ons-icon icon="fa-fa fa-times" size="18px"></ons-icon>-->
            </ons-button>
            </div>
            </ons-col>
</ons-row>

            <p class="item-desc_participants">
            <ons-row>
                <ons-col width="5%"></ons-col>
                <ons-col><span class="break_point_participants">{{item.name}}</span></ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="5%"></ons-col>
                <ons-col><span class="break_point">{{item.address}}</span></ons-col>
                <ons-col width="10%"></ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="5%"></ons-col>
                <ons-col><span class="break_point">{{item.tell}}</span></ons-col>
                <ons-col width="10%"></ons-col>
            </ons-row>
            </p>
            </ons-list-item>
         </ons-list>
        </ons-scroller>
    </div>
</ons-page>
