<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="../../css/policy.css">
    <script src="components/loader.js"></script>
    <script>
        //
        // TODO: Write JavaScript code here
        //
    </script>
</head>
<body>

      <div class="title">
          「じぷり」の利用規約 ~役員（管理者）向け~
      </div>

      <div class="overview">
          <p>「じぷり」の役員（管理者）向け機能として、陣川あさひ町会が企画したイベント情報の発信や皆様にお伝えしたい内容を「お知らせ」する事ができます。</p>
          <p>また、各イベントへの参加者の確認や、参加者の情報を「参加者リスト」としてcsv形式で出力する事ができます。</p>
      </div>

      <p class="subtitle">[じぷりの主な機能  ~役員（管理者）向け~]</p>
      <ul>
          <li class="pd-top">陣川あさひ町会が企画したイベント情報を発信（作成）する事ができます。また、発信（作成）したイベント情報の編集や、削除も行うことができます。</li>
          <li class="pd-top">各イベントへの参加者の確認や、参加者の情報を「参加者リスト」としてcsv形式で出力する事ができます。</li>
          <li class="pd-top">各イベントへの参加者の追加や、特定の参加者の申し込み受け付けをキャンセルすることができます。</li>
          <li class="pd-top">陣川あさひ町会が皆様にお伝えしたい内容を、「お知らせ」として発信する事ができます。また、「お知らせ」の削除も行うことができます。</li>
      </ul>

      <p class="subtitle">[陣川あさひ町会に関するサイト]</p>
      <ul>
          <li class="pd-top">陣川あさひ町会の公式サイト：<br /><a href="http://www.jinkawaasahi.com/">http://www.jinkawaasahi.com/</a></li>
          <li class="pd-top">陣川あさひ町会の公式Facebook：<br /><a href="https://www.facebook.com/jinnkawaasahi/">https://www.facebook.com/jinnkawaasahi/</a></li>
      </ul>

      <p class="subtitle">[推奨環境]</p>
      <ul>
      <li>iOS9.0 以降のiPhone</li>
      <li class="pd-top">Android6.0 以降の端末</li>
      <li class="pd-top pd-bt">電波の良いところかWi-Fi環境下での利用をお勧めします。</li>
      </ul>

      <p class="subtitle">[じぷりの使い方  ~役員（管理者）向け~]</p>
      <p class="subtitle">[ログイン方法]</p>
      <p>[TOP画面]</p>
      <ul>
        <li class="pd-bt">画面右下の[町会役員はコチラ]をタップします。</li>
      </Ul>
      <p>[役員専用ログイン画面]</p>
      <ul>
        <li class="pd-bt">役員（管理者）用のパスワードを入力し、[ログイン]をタップします。</li>
      </ul>

      <p class="subtitle">[イベントの発信（作成）]</p>
      <p>[イベントリスト画面]</p>
      <ul>
        <li>画面下のタブから[イベント]をタップしてください。</li>
        <li class="pd-top pd-bt">画面右上の[+のアイコン]をタップしてください。</li>
      </Ul>
      <p>[イベント作成画面]</p>
      <ul>
        <li>担当部署名・イベント名・日程・場所・開始時間・終了時間・定員・詳細・申込み締切日・役員にのみ公開するを入力して下さい（＊イベント名と担当部署のみ必須項目です）。</li>
        <li class="pd-top">役員会議などあさひ町会役員のみで共有したいイベントに関してのみ役員のみ公開を選択して下さい。選択することで、町民の方々が確認するリストには表示されないようになります。</li>
        <li class="pd-top">全ての項目が入力し終わったら、[作成する]をタップしてください。</li>
        <li class="pd-top pd-bt">内容を確認するアラートが出ます。内容に間違いがなければ、[はい]をタップしてください。</li>
      </Ul>

      <p class="subtitle">[イベントの編集]</p>
      <p>[イベントリスト画面]</p>
      <ul>
        <li>画面下のタブから[イベント]をタップしてください。</li>
        <li class="pd-top pd-bt">情報を編集したいイベントを選択してタップしてください。</li>
      </Ul>
      <p>[イベント詳細画面]</p>
      <ul>
        <li>画面右上のアイコンをタップしてください。</li>
        <li class="pd-top pd-bt">表示されたアラートのメニューの中から[編集]をタップしてください。</li>
      </Ul>
      <p>[イベント編集画面]</p>
      <ul>
        <li>任意の項目を編集し終わったら、[更新する]をタップしてください。</li>
        <li class="pd-top pd-bt">内容を確認するアラートが出ます。内容に間違いがなければ、[はい]をタップしてください。</li>
      </Ul>

      <p class="subtitle">[イベントの削除]</p>
      <p>[イベントリスト画面]</p>
      <ul>
        <li>画面下のタブから[イベント]をタップしてください。</li>
        <li class="pd-top pd-bt">削除したいイベントを選択してタップしてください。</li>
      </Ul>
      <p>[イベント詳細画面]</p>
      <ul>
        <li>画面右上のアイコンをタップしてください。</li>
        <li class="pd-top">表示されたアラートのメニューの中から[削除]をタップしてください。</li>
        <li class="pd-top pd-bt">内容を確認するアラートが出ます。内容に間違いがなければ、[はい]をタップしてください。</li>
      </Ul>

      <p class="subtitle">[イベント参加者の確認]</p>
      <p>[イベントリスト画面]</p>
      <ul>
        <li>画面下のタブから[イベント]をタップしてください。</li>
        <li class="pd-top pd-bt">イベントの参加者を確認したいイベントを選択してタップしてください。</li>
      </Ul>
      <p>[イベント詳細画面]</p>
      <ul>
        <li>画面右上のアイコンをタップしてください。</li>
        <li class="pd-top pd-bt">表示されたアラートのメニューの中から[参加者リスト]をタップしてください。</li>
      </Ul>

      <p class="subtitle">[イベント参加者リストの出力]</p>
      <ul>
        <li class="pd-bt">参加者リストを出力したいイベントの参加者リスト画面を表示してください。</li>
      </Ul>
      <p>[イベント参加者リスト画面]</p>
      <ul>
        <li>画面右上のアイコンをタップしてください。</li>
        <li class="pd-top pd-bt">表示されたアラートのメニューの中から[リスト出力]をタップしてください。</li>
      </Ul>

      <p class="subtitle">[イベント参加者の追加]</p>
      <ul>
        <li class="pd-bt">参加者を追加したいイベントの参加者リスト画面を表示してください。</li>
      </Ul>
      <p>[イベント参加者リスト画面]</p>
      <ul>
        <li>画面右上のアイコンをタップしてください。</li>
        <li class="pd-top pd-bt">表示されたアラートのメニューの中から[参加者リスト]をタップしてください。</li>
      </Ul>
      <p>[参加者追加画面]</p>
      <ul>
        <li>氏名・性別・年齢・電話番号・住所を入力(＊全て必須項目)して、[追加する]をタップしてください。</li>
        <li class="pd-top pd-bt">内容を確認するアラートが出ます。申し込み内容に間違いがなければ、[はい]をタップしてください。</li>
      </Ul>

      <p class="subtitle">[申し込み受け付けをキャンセル]</p>
      <ul>
        <li class="pd-bt">申し込み受け付けをキャンセルしたい参加者がいるイベントの参加者リスト画面を表示してください。</li>
      </Ul>
      <p>[イベント参加者リスト画面]</p>
      <ul>
        <li>申し込み受け付けをキャンセルしたい参加名の左上にある[☓のアイコン]をタップしてください。</li>
        <li class="pd-top pd-bt">内容を確認するアラートが出ます。内容に間違いがなければ、[はい]をタップしてください。</li>
      </Ul>

      <p class="subtitle">[お知らせの発信（作成）]</p>
      <p>[町内会からのお知らせ画面]</p>
      <ul>
        <li>画面下のタブからイベントをタップしてください。</li>
        <li class="pd-top pd-bt">画面右上の[+のアイコン]をタップしてください。</li>
      </Ul>
      <p>[お知らせ新規作成画面]</p>
      <ul>
        <li>担当部署名・タイトル名・内容・役員にのみ公開するを入力して下さい（＊必須項目はありません）。</li>
        <li class="pd-top">役員会議などあさひ町会役員のみで共有したいイベントに関してのみ役員のみ公開を選択して下さい。選択することで、町民の方々が確認するリストには表示されないようになります。</li>
        <li class="pd-top">全ての項目が入力し終わったら、[作成する]をタップしてください。</li>
        <li class="pd-top pd-bt">内容を確認するアラートが出ます。内容に間違いがなければ、[はい]をタップしてください。</li>
      </Ul>

      <p class="subtitle">[お知らせの削除]</p>
      <p>[町内会からのお知らせ画面]</p>
      <ul>
        <li>画面下のタブから[イベント]をタップしてください。</li>
        <li class="pd-top">削除したいお知らせをタップしてください。</li>
        <li class="pd-top">アラートのメニューから[削除]をタップしてください。</li>
        <li class="pd-top pd-bt">内容を確認するアラートが出ます。内容に間違いがなければ、[はい]をタップしてください。</li>
      </Ul>

      <p class="subtitle">[備考]</p>
          <p>
              本アプリケーションの利用によって発生した損害やトラブルに対しましては、一切責任を負いませんので予めご了承ください。
          </p>

      じぷり<br/>
      Copyright(c) Future University Hakodate. All Rights Reserved.

</body>
</html>
