<!-- 一般がイベントに参加申し込みをするために参加者情報を入力するページです。 -->

<ons-toolbar>
    <div class="center">参加申し込み</div>
    <div class="left">
      <ons-back-button> </ons-back-button>
    </div>
</ons-toolbar>
<ons-page ng-controller="JoinCtrl">
<div>
    <br>
    <ons-row>
         <ons-col width="40%"> <span class="event_com"><span class="eve_bun">氏名</span></span></ons-col>
        <ons-col> <span class="eve_bun"><input class="text-input; break_point" type="text" placeholder="氏名" id="name" size="20%"/></span></ons-col>
    </ons-row>
    <HR>
    <ons-row>
         <ons-col width="40%"> <span class="event_com"><span class="eve_bun">性別</span></span> </ons-col>
        <ons-col> <span class="eve_bun"><input class="text-input; break_point" type="radio" name="sex" id="male" size="20%" value="男性"/></span>男性
                  <span class="eve_bun"><input class="text-input; break_point" type="radio" name="sex" id="female" size="20%" value="女性"/></span>女性</ons-col>
    </ons-row>
    <HR>
    <ons-row>
         <ons-col width="40%"> <span class="event_com"><span class="eve_bun">年齢</span></span> </ons-col>
        <ons-col> <span class="eve_bun"><input class="text-input; break_point" type="number" placeholder="年齢" id="age" size="20%" /></span></ons-col>
    </ons-row>
    <HR>
    <ons-row>
         <ons-col width="40%"> <span class="event_com"><span class="eve_bun">電話番号</span></span> </ons-col>
        <ons-col> <span class="eve_bun"><input class="text-input; break_point" type="number" placeholder="電話番号" id="tell" size="20%" /></span></ons-col>
    </ons-row>
    <HR>
    <ons-row>
         <ons-col width="40%"> <span class="event_com"><span class="eve_bun">住所</span></span> </ons-col>
        <ons-col> <span class="eve_bun"><input class="text-input; break_point" type="text" placeholder="住所" id="address" size="20%" /></span></ons-col>
    </ons-row>

</div>

<div>
    <ons-button ng-click="IsSeinen()" modifier="kakutei">確定する</ons-button>
</div>
</ons-page>
