<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="../css/policy.css">
    <script src="components/loader.js"></script>
    <script>
        //
        // TODO: Write JavaScript code here
        //
    </script>
</head>
<body>
    <!--<div class="break_point_config">うぇい</div>-->

    <div class="title">
        「じぷり」の利用規約
    </div>

    <div class="overview">
        <p>函館市にある陣川あさひ町会からの「イベント情報」「お知らせ」を簡単に見ることのできるアプリです。</p>
        <p>さらに、陣川あさひ町会が運営するイベントに対して「参加申し込み」をすることもできます！</p>
        <p>メールやパスワードの登録は不要です。</p>
    </div>

    <p class="subtitle">[じぷりの主な機能]</p>
    <ul>
        <li class="pd-top">町会が運営する「納涼祭」や「ウィンターフェスティバル」、「お泊まり会」などのイベント情報を閲覧できます。</li>
        <li class="pd-top">陣川あさひ町会が運営するイベントに参加申し込みをすることができます。</li>
        <li class="pd-top">陣川あさひ町会から「ごみ収集日」や「災害警報」などの情報を受け取ることができます。</li>
    </ul>

    <p class="subtitle">[陣川あさひ町会に関するサイト]</p>
    <ul>
        <li class="pd-top">陣川あさひ町会の公式サイト：<br /><a href="http://www.jinkawaasahi.com/">http://www.jinkawaasahi.com/</a></li>
        <li class="pd-top">陣川あさひ町会の公式Facebookページ：<br /><a href="https://www.facebook.com/jinnkawaasahi/">https://www.facebook.com/jinnkawaasahi/</a></li>
    </ul>

    <!-- <p class="subtitle">[推奨環境]</p>
    <ul>
    <li>iOS9.0 以降のiPhone</li>
    <li class="pd-top">Android6.0 以降の端末</li>
    <li class="pd-top pd-bt">電波の良いところかWi-Fi環境下での利用をお勧めします。</li>
    </ul> -->

    <p class="subtitle">[じぷりの使い方]</p>
    <p class="subtitle">[イベント情報の閲覧]</p>
    <p>[TOP画面]</p>
    <ul>
      <li class="pd-bt">[スタート]をタップしてください。</li>
    </Ul>
    <p>[イベントリスト画面]</p>
    <ul>
      <li>画面下のタブから[イベント]をタップします。</li>
      <li class="pd-top pd-bt">開催予定イベントがリスト形式で確認できます。</li>
    </ul>
    <p>[イベント詳細画面]</p>
    <ul>
      <li>開催予定イベントの中から、より詳細な情報を知りたいイベントを選択してタップしてください。</li>
      <li class="pd-top pd-bt">選択したイベントの担当部署名・日程・場所・定員・詳細・申込締切日・作成日が確認できます。</li>
    </Ul>
    <p class="subtitle">[イベントへの参加申し込み]</p>
    <ul>
      <li>参加申し込みをしたいイベントの詳細画面下の[参加申し込み]をタップしてください。</li>
      <li class="pd-top">その後、氏名・性別・年齢・電話番号・住所を入力(＊全て必須項目)して、[確定する]をタップしてください。</li>
      <li class="pd-top pd-bt">内容を確認するアラートが出ます。申し込み内容に間違いがなければ、[はい]をタップしてください。</li>
    </Ul>
    <p class="subtitle">[お知らせ情報の閲覧]</p>
    <ul>
      <li>画面下のタブから[お知らせ]をタップしてください。</li>
      <li class="pd-top">町内会からのお知らせをリスト形式で確認できます。</li>
      <li class="pd-top pd-bt">より詳細な情報を知りたい場合は、お知らせを選択してタップすることで確認できます。</li>
    </Ul>

    <p class="subtitle">[備考]</p>
        <p>
            本アプリケーションの利用によって発生した損害やトラブルに対しましては、一切責任を負いませんので予めご了承ください。
        </p>

    じぷり<br/>
    Copyright(c) 2017 Future University Hakodate. All Rights Reserved.
</body>
</html>
