/* This is a CSS file */

div.title{
    text-align: center;
    font-weight: bold;
}

p.subtitle{
    text-indent: 1em;
    font-weight: bold;
}

div.overview {
    line-height: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    text-indent: 1em;
}



li.pd-top {
    padding-top: 10px;
}

li.pd-bt {
  padding-bottom: 10px;
}
